@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
    background: #eeeeee;
    color: #333;
    font-family: 'Oswald','Courier New', Courier, monospace
}
a{
    text-decoration: none;
    color:dodgerblue;
}

a:hover{
    text-decoration: underline;
    color: darkblue;
}

img{
    width: 100%;
}

#navbar{
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    
   
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 100;
    
}
#navbar li{
    float: left;
    height:100%;

}
#navbar li.active a{
    color:red;
}
#navbar li a{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    color: aliceblue;
    height:100%;

}
#navbar li a:hover{
    background-color: coral;
    color:black;
}
form{
    max-width: 750px;
    border: 1px solid #ddd;
    border-radius: 10px;

}
form div{
    padding: 15px;
}
input{
    width: 90%;
    display: block;
}
button{
    width: 90%;
    height: 50px;
    padding: 15px;
}


.myicono{
    color: aliceblue;
    font-size: 1.5em;
    padding: 10px;
    display: none;
}

#content{
    max-width: 1180px;
    position: relative;
    top: 80px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;

}
#content header{
    height: 120px;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 1em;

}

#principal{
width: 40%;
float: left;
padding:5px;
}

#secundario{
width: 40%;
float:left;
padding: 5px;
}
#aside{
width: 20%;
float:left;
padding: 5px;

}

#footer{
    text-align: center;
    clear: both;
    width: 100%;
    background-color: #ddd;
    border-radius: 1em;
    height: 100px;
    padding: 25px;
}
@media screen and (max-width:820px){
    #content{
        padding: 0px;
        max-width: 100%;
    }
    #content header{
        padding: 0;
        border-radius: 0;
    }
    #principal{
        padding: 3%;
        width: 45%;
    }
    #secundario{
        float: right;
        padding: 3%;
        width: 45%;
    }
    #aside{
        clear: both;
        padding: 5%;
        width: 100%;
    }
    #footer{
        width: 100%;
        padding: 0%;
    }
}

@media screen and (max-width:600px){
    #content{
        width: auto;

    }
    #principal{
        width: auto;
        float: none;
        margin: 0px;
    }
    #secundario{
        width: auto;
        float: none;
        margin: 0px;
    }
    #aside{
        padding: 0;
        width: auto;

    }
    #footer{
        width: auto;

    }
    #navbar{
        height: 100%;
    }
    #navbar ul{
        display: none;
    }
    #navbar li{
        height: 100%;
        float: none;
        display: block;

    }
    #navbar li a{
        padding: 5px;
        text-align: left;
        width: 100%;
    }
    .myicono{
        display:block;
        text-align: right;
    }
}
